body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #2ecc71;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #27ae60;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
  margin: 1rem;
  border-radius: 8px;
}

.inicial{
  text-align: center;
}

header > p{
  text-align: center;
}

p{
  text-align: justify;
}

ul{
  text-align: left;
  
}

li{
  padding-bottom: 10px;
}



picture, article {
  flex: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #27ae60;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #2ecc71;
  color: white;
}


@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: center;
  }

  section picture {
    order: 1;
  }

  section article {
    order: 2;
  }
}